*{
    box-sizing: border-box;
}

.contenedor-principal{ 
   max-width: 100%;
   margin: auto;
   margin-top: 20px;
}

.contenedor-form{
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    max-width: 500px;
    margin: auto;
    margin-top: 10px;
    background: rgb(112, 238, 238);
    padding: 30px 40px;
}

.resultado p{
    margin-top: 15px;
    font-size: 15px;
    color: blueviolet;
    font-size: 1.2rem;
}

.entrada {
    color: red;
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
    font-weight: bold;

}

.entrada input{
    text-align: center;
}

.titulo{
    font-weight: bold;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: 3px;   
}

.form-boton input{
    background: rgb(35, 215, 228);
    color: red;
    padding: 10px 20px;
    font-size: 25px;
    font-weight: bold;
    margin: auto;
    display: block;
    border-radius: 15px;
}

.form-boton input:hover{
    background: blueviolet;
    transition: 0.5;

}

.container-referencia-grid
{
display: grid;
/*background: rgb(169, 73, 238);*/  
grid-template-columns: 50px 244px ;
grid-template-rows: auto;
width: 75%;
margin: auto;

}

.cabecera-grid{
color: rgb(0, 0, 0);
font-weight: bold;
background: rgb(83, 248, 83);
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
font-size: 20px;
display: flex;
justify-content: center;
align-items: center;
border: 1px solid black;
}
.datos-grid{
color: rgb(0, 6, 11);
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
display: flex;
justify-content: center;
align-items: center;
border: 1px solid black;
}